<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedHomeApp"
        tools:targetApi="31">
        <activity
            android:name=".view.EditProfileScreen"
            android:exported="false"
            android:label="@string/title_activity_edit_profile_screen"
            android:theme="@style/Theme.MedHomeApp" />
        <activity
            android:name=".view.NotificationSettingsScreen"
            android:exported="false"
            android:label="@string/title_activity_notification_settings_screen"
            android:theme="@style/Theme.MedHomeApp" />
        <activity
            android:name=".view.ChangePasswordScreen"
            android:exported="false"
            android:label="@string/title_activity_change_password_screen"
            android:theme="@style/Theme.MedHomeApp" /> <!-- ✅ SPLASH ACTIVITY (ONLY LAUNCHER) -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.MedHomeApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LOGIN -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MedHomeApp" /> <!-- DASHBOARD -->
        <activity
            android:name=".view.DashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.MedHomeApp" /> <!-- SIGNUP -->
        <activity
            android:name=".view.SignupInitialActivity"
            android:exported="false"
            android:theme="@style/Theme.MedHomeApp" />
        <activity
            android:name=".view.SignupDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.MedHomeApp" /> <!-- QR -->
        <activity
            android:name=".view.QrActivity"
            android:exported="false"
            android:theme="@style/Theme.MedHomeApp" />
        <activity
            android:name=".view.QrScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.MedHomeApp" /> <!-- FORGOT PASSWORD -->
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.MedHomeApp" /> <!-- HEALTH RECORDS -->
        <activity
            android:name=".view.HealthRecords"
            android:exported="false"
            android:theme="@style/Theme.MedHomeApp" /> <!-- BLOOD DONATION -->
        <activity
            android:name=".view.BloodDonationActivity"
            android:exported="false"
            android:theme="@style/Theme.MedHomeApp" /> <!-- MAIN (optional) -->
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MedHomeApp" />
    </application>

</manifest>